* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: black;
  height: 100vh;
}

.page {
  min-width: max-content;
  max-width: 70%;
  margin: 0 12px;
  padding: 10px 20px;
  color: white;
  background-color: black;
}

.item-container {
  border: 1px solid rgb(230, 224, 224);
}

@media (min-width: 768px) {
  .page {
    min-width: max-content;
    max-width: 20%; 
  }
}